body {
    background-color: rgb(215, 210, 130);
}
h1 {
    color: rgb(2, 77, 23);
    font-family: "Lucida Console", Times, serif;
    font-size: xx-large;
    text-align: center;
    position: relative;
    top: 20px;
}
